@email-list-item-border-colour: #DDD;

.email-list-item--wrapper {
  border: 1px solid @email-list-item-border-colour;
  display: inline-flex;
  justify-content: center;
  width: 100%;


  .email-list-item--title {
    flex: 2;
    padding: 0 10px;
  }

  .email-list-item--subjects {
    flex: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .email-list-item--link {
    .button();
    height: 30px;
    line-height: 30px;
    align-self: center;
    margin: 10px;
  }

}
