@page-bg-colour: #FFF;

.email-view--wrapper {
  .page();

  .email--body-wrapper {
    display: flex;
    flex-direction: column;
  }


  .email--body-actions-wrapper {
    text-align: center;
    padding: 5px 0;

    .email--html-view,
    .email--plain-view {
      .button();
      margin: 0;
    }
  }

  .email--body {
    margin-top: 10px;
    min-height: 40vh;
  }
}
