@base-button-border-colour: #EEE;
@base-button-bg: #EEE;
@base-button-border-radius: 5px;
@base-button-active-bg: #333;
@base-button-alt-colour: #FFF;

.button {
  padding: 10px;
  border: 1px solid @base-button-border-colour;
  background: @base-button-bg;
  border-radius: @base-button-border-radius;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &.active {
    background: @base-button-active-bg;
    color: @base-button-alt-colour;
  }
}
