@email-viewer-border-colour: #DDD;

.email-viewer--wrapper {
  overflow: hidden;
  max-height: 450px;

  .email-viewer--iframe {
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    border: 1px solid @email-viewer-border-colour;
  }
}
